<html lang="en">
    <%- include('../partials/head.ejs')  %>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Node.js Crash Course</title>
</head>
<body class="create">
  
  
  <%- include('../partials/nav.ejs')  %>

  <div class="datails content raw ">
    <h2><%= feed.title %></h2>
    <div class="content ">
        <h4><%= feed.body %></h4>
        <p><%= feed.author %></p>
    </div>
    <a class="delete" data-doc="<%- feed._id%>">delete</a>
  </div>


  <%- include('../partials/footer.ejs')  %>

  <script>
    const trashcan = document.querySelector('a.delete');
    trashcan.addEventListener('click', (e) => {
      const endpoint = `/feeds/${trashcan.dataset.doc}`;
      fetch(endpoint, {
        method: 'DELETE',
      })
      .then(response => response.json())
      .then(data => window.location.href = data.redirect)
      .catch(err => console.log(err));
    });
    
  </script>
</body>
</html>